<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div th:replace="fragments/navbar :: navbar"/>

<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <br/>
                    <div class="bg-faded rounded p-5">
                        <br/>
                        <table class="table table-hover text-center" th:style="'text-align:center;'">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>작성자</th>
                                <th>제목</th>
                                <th>작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board : ${boards}">
                                <td th:text="${board.boardId}"></td>
                                <td th:text="${board.boardUser.userName}"></td>
                                <td><a href="#" th:href="@{/boards/{id}/read (id=${board.boardId})}" th:style="'text-decoration:none; color:#000000;'"><span th:text="${board.title}"></span></a></td>
                                <td th:text="${board.insertDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <button type="button" onclick="location.href='/board'" class="btn btn-info">글작성</button>
                        </div>
                        <br/>
                        <div>
                            <form th:object="${boardSearch}" class="form-inline">
                                <div class="form-group mb-2">
                                    <input type="text" th:field="*{search}" class="form- control" placeholder="검색어를 입력하세요."/>
                                </div>
                                <div class="form-group mx-sm-1 mb-2">
                                    <select th:field="*{searchOption}" class="form-control">
                                        <option name="condition" id="condition" value="condition">검색조건</option>
                                        <option name="userName" id="userName" value="userName">작성자</option>
                                        <option name="title" id="title" value="title">제목</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-info mb-2">검색</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"/>

<!--&lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>
