<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div th:replace="fragments/navbar :: navbar"/>

<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <br/>
                    <div class="bg-faded rounded p-5">
                        <br/>
                        <table class="table table-hover text-center" th:style="'text-align:center;'">
                            <tr>
                                <th>작성자</th>
                                <td th:text="${infoBoard.boardUser.userName}"></td>
                                <th>작성일</th>
                                <td th:text="${infoBoard.insertDate}"></td>
                            </tr>
                            <tr>
                                <th class="label" colspan="3">제목</th>
                                <td th:text="${infoBoard.title}"></td>
                            </tr>
                            <tr>
                                <th class="label">내용</th>
                                <td>
                                    <div class="view-content">
                                        <p th:text="${infoBoard.content}"></p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <button type="button" onclick="location.href='/boards'" class="btn btn-info">글목록</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"/>

<!--&lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>
