<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div th:replace="fragments/navbar :: navbar"/>

<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <br/>
                    <div class="bg-faded rounded p-5">
                        <br/>
                        <div>
                            <table class="table table-hover table-striped" th:style="'text-align:center;'">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>이름</th>
                                    <th>도시</th>
                                    <th>주소</th>
                                    <th>우편번호</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.userId}"></td>
                                    <td th:text="${user.userName}"></td>
                                    <td th:text="${user.address?.city}"></td>
                                    <td th:text="${user.address?.street}"></td>
                                    <td th:text="${user.address?.zipcode}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"/>

<!--&lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>
