.wrap{
    width:900px;
    margin:auto;
    font-family: 'Jua', sans-serif;
}
.comment {
    color: blue;
    font-weight: bold;
}
h5.card-title{
    text-align: center;
}
p.card-body{
    text-align: center;
}
.form-post {
    max-width: 500px;
    padding: 2rem;
    margin: 2rem auto;
    border-color: #e9ecef;
    border-radius: 0.3rem;
    display: block;
}
#post-box {
    display: none;
}
