<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div th:replace="fragments/navbar :: navbar"/>

<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <br/>
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">관리자님, 상품을 수정해주세요.</span>
                            <span class="section-heading-lower">상품 수정</span>
                        </h2>
                        <form th:object="${form}" method="post">
                            <input type="hidden" th:field="*{id}" />

                            <div class="form-group">
                                <label th:for="name">상품명</label>
                                <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
                            </div>

                            <div class="form-group">
                                <label th:for="price">가격</label>
                                <input type="number" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
                            </div>

                            <div class="form-group">
                                <label th:for="stockQuantity">수량</label>
                                <input type="number" th:field="*{stockQuantity}" class="form-control" placeholder="수량을 입력하세요">
                            </div>

                            <div class="form-group">
                                <label th:for="kinds">종류</label>
                                <input type="text" th:field="*{kinds}" class="form-control" placeholder="종류를 입력하세요">
                            </div>

                            <div class="form-group">
                                <select th:field="*{area}" class="form-control">
                                    <option value="">제조국</option>
                                    <option th:each="areas : ${T(maskbook.maskshop.domain.item.ItemArea).values()}"
                                            th:value="${areas}"
                                            th:text="${areas}">option
                                    </option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info">수정</button>
                            </div>
                        </form>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"/>

<!--&lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>
